In [2]:
def explode(df,column):
...     df = df.explode(column=column)
...     return df
def fill_na(df,value):
...    df = df.fill_na(value)
...    return df
def encode(df):
...     df = get_dummies(df)
...     return df

In [3]:
import pandas as pd
import numpy as np

In [4]:
def foo(row):
...    if row['digit'] == 0:
...      return ['zero']
...    elif row['digit'] == 1:
...      return ['one','i']
...    elif row['digit'] == 2:
...      return ['two'] 
...    else:
...      return None

In [5]:
input_df = pd.DataFrame({'digit':[0,1,2]})

In [6]:
input_df['which_digit'] =  input_df.apply(foo, axis=1)

In [7]:
input_df.head()

   digit which_digit
0      0      [zero]
1      1    [one, i]
2      2       [two]

In [9]:
input_df.pipe(explode, column='which_digit')

   digit which_digit
0      0        zero
1      1         one
1      1           i
2      2         two